*{
    margin: 0;
    padding: 0;
}

.container
{
    display: flex;
}

#element1 , #element2
{
    height: 30px;
}

#element1
{
    width: 200px;
    background-color: antiquewhite;
}

#element2
{
    width: 75px;
    background-color: burlywood;
}